
:root
{
    --background-color: ##414782;
    --text-color:#F9FBF8;
    --nav-color:#053b42;
    --story-color:#F9FBF8;
    --hover-color:#d6a274;

}
*
{
    color:var(--background-color);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
header
{
    color: black;
    width: 100vw;
    height: 50px;
    background-color: black;
    
}

.container
{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.stories
{
    background-color: var(--story-color);
    /* border-radius: 10px; */
    width: 185px;
    height: 315px;
    max-height: 315px;
    color: #050a0b;
    margin: 1% 1% 1% 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    
}
.stories:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main
{
    margin: 0;
    padding: 0;
    width: 100%;
   background-color: var(--background-color);;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    align-items: baseline;

}
.target
{
    font-size: 10px;
    background-image: url("biblelogo.svg");
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.target p
{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

nav
{
    margin-left: 0;
    width: 15%;
    color:var(--text-color);
    background-color: var(--nav-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    min-width: 100px;
    
}
.biblicalVerse
{
    font-size: larger;
    font-family: Tahoma, Verdana, sans-serif;
    
}
.biblicalVerse p
{
    width: 100%;
    text-align: justify;
    text-wrap: balance;
}
pre 
{
    max-width: 100%;
    text-wrap: pretty;
}


nav button

{
    width: 100%;
    
    min-height: 70px;
    margin-top: 10px;
    margin-left: 0;
    background-color: transparent;
    border: none;
}
nav button:hover{
    background-color: var(--hover-color);
}


svg
{
    width: 25px;
    height: auto;
}


button
{
    height: 75px;
}
.show
{
    display: flex;
    flex-direction: row;
}
.hidden
{
    display: none;
}
p{
    width: 50px;
}
ul
{
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}


/*this is from w3school*/
li a, .dropbtn {
    display: block;
    color: black;
    width: 15px;
    
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: block;
  }
 

.poster 
{

    width: 100%;
    height: 80%;
    top:0;
    
}
.title p
{
    
    width: 100%;
    
    font-size: 1rem;
    
}
.title{
    /* background-color: red; */
    height: 20%;
    bottom: 0;

}
/* for the pop up */

.popup {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4); 
    
}

/* The popup content */
.popup-content {
    
    background-color: #fefefe;
    margin: 2% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
    height: 80%;
    overflow: auto;
    
}
.close {
    color: #aaaaaa;
    
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    background-color: gray;
    color: white;
    border-radius: 2px;
    cursor:pointer;
}

/* for the popup content */
.displayHeading {
    text-align: center;
}
.displayImage{
    float: left;
    margin: 5px;
    width: 60%;
    max-width: auto;
    height: auto;

}
hr
{
    width: 10px;
    color:black;
    z-index: 1;
}

hr{
    width: 98%;
    background-color: black;
    height: 3px;
    
}
a
{
    text-decoration: none;
}
footer{
    color:var(--text-color);
    background-color: var(--nav-color);
    text-align: center;
    width: 99%;
}


.main-content {
    width: calc(100vw - max(101px, 16%));
    margin-left:max(101px, 16%);
    display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: auto;
    overflow-x: hidden;

  }

  
